.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 190px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  padding-top: 20px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  font-size: 24px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  width: 230px;
  padding: 10px;
  margin: 10px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
  height: 180px;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  margin: 20px;
  width: 200px;
  height: 300px;
  background-color: #f0f0f0;
}

.login-btn {
  margin: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #45a049;
}

.filter {
  display: flex;
}

.search-container {
  margin: 10px;
}

.user-card {
  padding: 10px;
  border: 1px solid black;
}
